.heroMain {
    min-height: 450px;
    background-position: center;
    background-repeat:no-repeat;
    display: flex;
    background-size:cover;
    @include media-breakpoint-up(lg) {
    	justify-content: center;
    	min-height: 450px;
    	background-position: 38% center;
    	margin-top: -100px;
        .header-sticky & {
            margin-top:0;
        }
    }
}

.heroMain-inner {
    width: 100%;
    max-width: $maxWidth;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    @include media-breakpoint-up(lg) {
	    align-items: flex-end;
	    justify-content: flex-end;
    }
}

.heroMain-copy {
    color: palette(colorBrandOrange, light);
    padding-top:$spacer*2;
    text-shadow:0 0 30px rgba(palette(colorBrandBlueDark,base),.75);
    position:relative;
    text-align:center;
    width:100%;
    @include media-breakpoint-up(lg) {
    	text-align:right;
    	padding-top:0;
    	padding-bottom:$spacer*5;
    }
}

.heroMain-zone1 {
    display: block;
    letter-spacing:2px;
    line-height: 1;
    padding-right:$spacer/2;
    @include responsive-font(3vw, 28px, 32px, 32px);
    sup {
    	vertical-align:7px;
    	position:static;
    }
}

.heroMain-zone2 {
    display: none;
    @include media-breakpoint-up(lg) {
    	display:inline;
    }
}

.heroMain-zone3 {
    display: block;
    font-size: 78px;
    line-height: 1;
    font-family:GothamBlack;
    @include responsive-font(5vw, 50px, 78px, 78px);
}

.heroMain-zone4 {
    display: none;
    @include media-breakpoint-up(lg) {
	    display: block;
	    text-align: right;
	    color: $colorWhite;
	    font-weight:normal;
	    font-size:26px;
    }
}
