.hr--fade {
    border-color:transparent;
    position:relative;
    &:after {
        content:'';
        position:absolute;
        left:0;
        right:0;
        top:0;
        height:1px;
        background: linear-gradient(to left, transparent 20%, currentcolor 100%) !important;
    }
}
