// -----------------------------------------------------------------------------
// This file contains all styles related to global notify message.
// -----------------------------------------------------------------------------
.notifySticky {
	position:fixed;
	right:0;
	bottom:0;
	left:0;
	background:$colorWhite;
	height:110px;
	overflow:hidden;
	transition:all 0.5s;
	h1,h2,h3,h4,h5,h6,p,ul,ol {
		display:inline;
	}
	&.unstuck {
		position:static;
		height:auto;
		h1,h2,h3,h4,h5,h6,p,ul,ol {
			display:block;
		}
	}
	&.full {
		//top:0;
		//max-height:none;
	}
}
.notifySticky-inner {
	max-width:$maxWidth;
	margin-right:auto;
	margin-left:auto;
	display:flex;
}
.notifySticky-toggle {
	.unstuck & {
		display:none;
	}
}