footer.footerMain
	.footerMain-inner
		.footerMain-main
			ul.footerMain-nav
				li.headerMain-navLink
					a(href='') Link Number One
				li.headerMain-navLink
					a(href='') Link Number Two
				li.headerMain-navLink
					a(href='') Link Number Three
				li.headerMain-navLink
					a(href='') Link Number Four
				li.headerMain-navLink
					a(href='') Link Number Five
			.footerMain-logo
				a(href='').footerMain-logoLink
					img(src='http://placehold.it/165x50').footerMain-logoImg
		.footerMain-collateral
			p 2017 &copy; Amgen Inc. All rights reserved.
			p This website is intended for US healthcare professionals only.
	.footerMain-topLink
		a(href='#pageTop') Back To Top
