footer.footerMain
	a(href='#pageTop').footerMain-topLink Back To Top
		i.footerMain-topLinkIcon.fa-chevron-up
	.footerMain-inner
		.footerMain-main
			ul.footerMain-nav
				li.footerMain-navItem
					a(href='').footerMain-navLink Link Number One
				li.footerMain-navItem
					a(href='').footerMain-navLink Link Number Two
				li.footerMain-navItem
					a(href='').footerMain-navLink Link Number Three
				li.footerMain-navItem
					a(href='').footerMain-navLink Link Number Four
				li.footerMain-navItem
					a(href='').footerMain-navLink Link Number Five
			.footerMain-logo
				a(href='').footerMain-logoLink
					img(src='http://placehold.it/165x50').footerMain-logoImg
		.footerMain-collateral
			p 2017 &copy; Amgen Inc. All rights reserved.
			p This website is intended for US healthcare professionals only.
