footer.footerMain
	a(href='#pageTop').footerMain-topLink Back To Top
		i.footerMain-topLinkIcon.fa-chevron-up
	.footerMain-inner
		.footerMain-main
			ul.footerMain-nav
				li.footerMain-navItem
					a(href='').footerMain-navLink Site Map
				li.footerMain-navItem
					a(href='').footerMain-navLink Privacy Statement
				li.footerMain-navItem
					a(href='').footerMain-navLink Terms of Use
				li.footerMain-navItem
					a(href='').footerMain-navLink Amgen Oncology
				li.footerMain-navItem
					a(href='').footerMain-navLink Amgen Assist 360
						sup TM
				li.footerMain-navItem
					a(href='').footerMain-navLink Amgen MedInfo
				li.footerMain-navItem
					a(href='').footerMain-navLink Advertising Choices
			.footerMain-logo 
				a(href='').footerMain-logoLink
					img(src='img/content-images/logo-amgen.png').footerMain-logoImg
		.footerMain-collateral
			p 2017 &copy; Amgen Inc. All rights reserved.
			p This website is intended for US healthcare professionals only.
