#pageTop
header.headerMain
	.headerMain-util
		.headerMain-utilInner
			ul.headerMain-navUtil
				li.headerMain-navUtilItem
					a(href='').headerMain-navUtilLink Prescribing Information
				li.headerMain-navUtilItem
					a(href='').headerMain-navUtilLink Indication
				li.headerMain-navUtilItem
					a(href='').headerMain-navUtilLink Important Safety Information
			.headerMain-utilCollateral
				a(href='').headerMain-ctaBtn Visit Patient Site
				.headerMain-search
					label(for='headerMainSearch')
					input(type='text',placeholder='Search',id='headerMainSearch').headerMain-searchBox
					span.headerMain-searchToggle
			ul.headerMain-navUtilMobile
				li.headerMain-navUtilMobileItem
					a(href='').headerMain-navUtilMobileLink Prescribing Info
				li.headerMain-navUtilMobileItem
					a(href='').headerMain-navUtilMobileLink Indication

	.headerMain-main
		.headerMain-mainInner
			.headerMain-logo
				a(href='').headerMain-logoLink
					img(src='img/content-images/logo-main.png').headerMain-logoImg
			ul.headerMain-navMain
				li.headerMain-navMainItem.is-current
					a(href='').headerMain-navMainLink.hasChildren 
						em.px-1 RAS 
						| Story
					.headerMain-subContent
						.headerMain-subContentInner
							ul.headerMain-subNav
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink 
										em.px-1 KRAS 
										| and
										em.px-1 NRAS 
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink
										| WT 
										em.px-1 RAS 
										| in PRIME
							.headerMain-subcollateral
								a(href='').headerMain-subcollateralCta See efficacy in WT RAS mCRC patients from PRIME
				li.headerMain-navMainItem
					a(href='').headerMain-navMainLink.hasChildren First-line data
					.headerMain-subContent
						.headerMain-subContentInner
							ul.headerMain-subNav
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink Study design
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink Progression-free survival
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink Objective response rate
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink Overall survival
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink Prime safety Profile
							.headerMain-subcollateral
								a(href='').headerMain-subcollateralCta Learn how WT 
									em RAS
									| mCRC patients were identified in PRIME
				li.headerMain-navMainItem
					a(href='').headerMain-navMainLink.hasChildren Third-line data
					.headerMain-subContent
						.headerMain-subContentInner
							ul.headerMain-subNav
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink 0007 Study
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink ASPECCT Study
							.headerMain-subcollateral
								a(href='').headerMain-subcollateralCta What clinical characteristics affect your third-line treatment decision?
				li.headerMain-navMainItem
					a(href='').headerMain-navMainLink Administration
					//- .headerMain-subContent
					//- 	.headerMain-subContentInner
					//- 		ul.headerMain-subNav
					//- 			li.headerMain-subNavItem
					//- 				a(href='').headerMain-subMainLink Link Number Onea
					//- 			li.headerMain-subNavItem
					//- 				a(href='').headerMain-subMainLink Link Number Onea
					//- 			li.headerMain-subNavItem
					//- 				a(href='').headerMain-subMainLink Link Number Onea
					//- 		.headerMain-subcollateral
					//- 			a(href='').headerMain-subcollateralCta What clinical characteristics affect your third-line treatment decision?
				li.headerMain-navMainItem
					a(href='').headerMain-navMainLink.hasChildren Patient Profiles
					.headerMain-subContent
						.headerMain-subContentInner
							ul.headerMain-subNav
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink First-line: Roy
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink First-line: Brian
								li.headerMain-subNavItem
									a(href='').headerMain-subMainLink First-line: Connie
							.headerMain-subcollateral
								a(href='').headerMain-subcollateralCta Learn how WT 
									em RAS
									| mCRC patients were identified in PRIME
				li.headerMain-navMainItem
					a(href='').headerMain-navMainLink Access
					//- .headerMain-subContent
					//- 	.headerMain-subContentInner
					//- 		ul.headerMain-subNav
					//- 			li.headerMain-subNavItem
					//- 				a(href='').headerMain-subMainLink Link Number Onea
					//- 			li.headerMain-subNavItem
					//- 				a(href='').headerMain-subMainLink Link Number Onea
					//- 			li.headerMain-subNavItem
					//- 				a(href='').headerMain-subMainLink Link Number Onea
					//- 		.headerMain-subcollateral
					//- 			a(href='').headerMain-subcollateralCta What clinical characteristics affect your third-line treatment decision?
			.headerMain-navMainToggle
				.headerMain-navMainToggleLine
				.headerMain-navMainToggleLine
				.headerMain-navMainToggleLine
