header.headerMain
	.headerMain-util
		.headerMain-utilInner
			ul.headerMain-navUtil
				li.headerMain-navUtilLink
					a(href='') Link Number One
				li.headerMain-navUtilLink
					a(href='') Link Number Two
				li.headerMain-navUtilLink
					a(href='') Link Number Three
				li.headerMain-navUtilLink
					a(href='') Link Number Four
				li.headerMain-navUtilLink
					a(href='') Link Number Five
			.headerMain-utilCollateral
				a(href='').headerMain-ctaBtn Visit Patient Site
				.headerMain-search
					label(for='headerMainSearch')
					input(type='text',placeholder='Search',id='headerMainSearch').headerMain-searchBox
					span.headerMain-searchToggle

	.headerMain-main
		.headerMain-mainInner
			.headerMain-logo
				a(href='').headerMain-logoLink
					img(src='http://placehold.it/165x50').headerMain-logoImg
			ul.headerMain-navMain
				li.headerMain-navMainLink
					a(href='') Link Number One
				li.headerMain-navMainLink
					a(href='') Link Number Two
				li.headerMain-navMainLink
					a(href='') Link Number Three
				li.headerMain-navMainLink
					a(href='') Link Number Four
				li.headerMain-navMainLink
					a(href='') Link Number Five
