.notifyMain
	.notifyMain-inner
		.notifyMain-content
			h2.notifyMain-heading Indication and Limitation of use
			.notifyMain-copy
				p
					| Vectibix® is indicated for the treatment of patients with wild‑type RAS metastatic colorectal cancer (mCRC). Wild‑type RAS is defined as wild‑type in both KRAS and NRAS as determined by an FDA‑approved test for this use: 
				ul
					li As first‑line therapy in combination with FOLFOX  
					li As monotherapy following disease progression after prior treatment with fluoropyrimidine‑, oxaliplatin‑, an  irinotecan‑containing chemotherapy 
				p Limitation of Use: Vectibix
					sup &reg;
					| is not indicated for the treatment of patients with RAS‑mutant mCRC or for whom RAS mutation status is unknown.  
			//- span.notifyMain-toggle Read More
			//- 	i.notifyMain-toggleIcon.fa-chevron-right
		.notifyMain-close