// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footerMain {
	background:$footerMain-background;
	color:$footerMain-color;
	position:relative;
	padding-bottom:$spacer*2;
	font-size:$footerMain-size;


}
.footerMain-topLink {
	text-transform:uppercase;
	//position:absolute;
	//bottom:100%;
	//left:0;
	//width:100%;
	text-align:center;
	display:block;
	background:$footerMain-topLink-background;
	color:$footerMain-topLink-color;
	padding-top:$spacer/2;
	padding-bottom:$spacer/2;
	text-decoration:none;
	&:hover {
		text-decoration:none;
		color:$footerMain-topLink-color;
	}
}
.footerMain-main {
	display:flex;
	justify-content:space-between;
	
	margin-bottom:$spacer;
	padding-top:$spacer*3;
	@include media-breakpoint-up(lg) {
		align-items:flex-end;
		border-bottom:2px solid $footerMain-main-border-color;
	}
}
.footerMain-inner {
	max-width:$maxWidth;
	margin-right:auto;
	margin-left:auto;
}
.footerMain-logo {
	//padding-top:$spacer*.75;
	padding-bottom:$spacer*.75;
	padding-right:$spacer;
	@include media-breakpoint-up(lg) {
		max-width:197px;
	}
}
.footerMain-nav {
	list-style:none;
	padding:0;
	margin-bottom:0;
	font-size:$footerMain-nav-size;
	@include media-breakpoint-up(lg) {
	 display:flex;
	 flex-wrap:wrap;
	 max-width:600px;
	 margin-bottom:$spacer/2;
	}
}
.footerMain-navItem {
	font-size:24px;
	flex:1 1 auto;
	//text-align:center;
	display:flex;
	@include media-breakpoint-up(lg) {
		flex:0;
		&:first-child {
			text-align:left;
			.footerMain-navLink {
				padding-left:0;
			}
		}
	}
}
.footerMain-navLink {
	flex:0 0 100%;
	display:block;
	//display:flex;
	align-items:center;
	padding:$spacer/4 $spacer;
	color:$footerMain-navLink-color;
	text-decoration:none;
	&:hover {
		text-decoration:none;
		color:$footerMain-navUtilLink-hover-color;
	}
	@include media-breakpoint-up(lg) {
		padding:$spacer*.75;
		font-size:14px;
		white-space:nowrap;
		padding:$spacer/4 0;
		margin-right:$spacer;
	}

}
.footerMain-topLinkIcon {
	margin-left:$spacer/2;
}
.footerMain-collateral {
	padding-right:$spacer;
	padding-left:$spacer;
	font-size:24px;
	p {
		margin-bottom:0;
	}
	@include media-breakpoint-up(lg) {
		padding:0;
		font-size:14px;
	}
}