// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.headerMain {
	@include media-breakpoint-up(md) {
		transition:all .5s;
		&.is-sticky {
			animation: fadein .5s;
			position:fixed;
			top:0;
			right:0;
			left:0;
			.headerMain-util {
				display:none;
			}
		}
	}
}
.headerMain-util {
	background:blue;
}
.headerMain-utilInner {
	display:flex;
	max-width:$maxWidth;
	margin-right:auto;
	margin-left:auto;
}
.headerMain-navUtil {
	list-style:none;
	padding:0;
	display:flex;
}
.headerMain-main {
	background:green;
}
.headerMain-mainInner {
	display:flex;
	max-width:$maxWidth;
	margin-right:auto;
	margin-left:auto;
}
.headerMain-navMain {
	list-style:none;
	padding:0;
	display:flex;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}