doctype html
html(lang="en")
	head
		include includes/_head.pug
		title First Line Data

	body
		form
			.pageWrap
				include includes/_notifyMain.pug
				include includes/_headerMain.pug
				main
					.hero(style="background-image:url(img/content-images/hero.png)")
						.hero-inner
							.hero-copy
								span.hero-zone1 In the first-line treatment of patients with WT
									em.px-1 RAS
									sup &reg;
									| mCRC
									sup 1 
								span.hero-zone2 Vectibix
									sup &reg;
									|: The first and only anti-EGFR approved in combination with FOLFOX 
									sup 1
					section.py-12
						.container
							h1.colorBrandBlue.mb-5
								| PRIME: a predefined retrospective subset analysis of a phase 3, open-label, randomized (1:1), multicenter study of Vectibix
								sup &reg;
								|  Q2W + FOLFOX vs FOLFOX Q2W alone in first-line patients
								sup 1,2
							figure.mb-5
								img(src='img/content-images/first-line-chart-1-sm.svg').d-md-none
								img(src='img/content-images/first-line-chart-1-lg.svg').d-none.d-md-block
							ul.textLg.colorGrayDark
								li Primary endpoint was PFS
									sup 2
								li
									| Key secondary endpoints were OS, ORR,
									sup §
									|  and safety
									sup 2

							p.pullFirstChar.mb-0.colorGrayDark *Defined as wild type in both 
								em KRAS 
								| and 
								em NRAS.
								sup 1
							p.pullFirstChar.mb-0.colorGrayDark
								sup &dagger;
								| Exon 2 in codons 12 or 13.
								sup 1
							p.pullFirstChar.mb-0.colorGrayDark
								sup &Dagger;
								em RAS mutation status was determined for 620 patients using Sanger bidirectional sequencing and Surveyor
								sup &reg;
								| /WAVE
								sup &reg;
								| analysis.
								sup 1
							p.pullFirstChar.colorGrayDark.mb-0
								sup §
								| Objective tumor response was evaluated by blinded central radiology review using modified RECIST criteria.
								sup 2
							p.colorGrayDark ECOG PS = Eastern Cooperative Oncology Group Performance Status; EGFR = epidermal growth factor receptor; mCRC = metastatic colorectal cancer; MT = mutant type; ORR = objective response rate; OS = overall survival; PFS = progression-free survival; PRIME = Panitumumab Randomized Trial in Combination With Chemotherapy for Metastatic Colorectal Cancer to Determine Efficacy; Q2W = every 2 weeks; RECIST = Response Evaluation Criteria in Solid Tumors; WT = wild type.
							h2.colorBrandBlue.mb-5 Patient demographics and clinical characteristics
								sup 1
							.row
								.col-md-9
									table(width='100%').table--fiesta
										thead
											tr
												th Demographic or clinical characteristic	
												th WT* KRAS mCRC	
												th WT RAS
													sup &dagger;
													| mCRC
										tbody
											tr
												th Male 
												td 64%
												td 65% 
											tr
												th Race
													ul.list-unstyled.normalWeight.pl-md-4.mb-0
														li White
														li Black
														li Hispanic or Latino 
												td
													ul.list-unstyled.pt-5.mb-0
														li 92%
														li 2%
														li 4%
												td 
													ul.list-unstyled.pt-5.mb-0
														li 91%
														li 2%
														li 5%
											tr
												th Colon Cancer 
												td 66% 
												td 65%
											tr
												th Rectal Cancer 
												td 34%
												td 35%
											tr
												th ECOG PS 
													ul.list-unstyled.normalWeight.pl-md-4.mb-0
														li 0
														li 1
														li 2 
												td
													ul.list-unstyled.pt-5.mb-0
														li 56%
														li 38%
														li 6%

												td
													ul.list-unstyled.pt-5.mb-0
														li 57%
														li 37%
														li 6%
											tr
												th Median Age, Years 
												td 61.5
												td 61
								.col-md-3
									.row
										.col-12
											p.h2.colorBrandBlue.mb-5.mb-md-7
												| In patients with WT 
												em.px-1 KRAS
												| mCRC 
												sup 2
										.col-12.col-sm-4.col-md-12.mb-2.mb-sm-7
											p.h2.colorBrandOrange
												| 86% had liver metastases
												sup 2
										.col-12.col-sm-4.col-md-12.mb-2.mb-sm-7
											p.h2.colorBrandOrange
												| 18% had liver-limited metastases
												sup 2
										.col-12.col-sm-4.col-md-12.mb-2.mb-sm-7
											p.h2.colorBrandOrange
												| 79% had 2 or more metastatic sites
												sup 2
							p.pullFirstChar.mb-0.colorGrayDark *Exon 2 in codons 12 or 13.
								sup 1
							p.pullFirstChar.mb-0.colorGrayDark
								sup &dagger;
								| Defined as wild type in both 
								em KRAS 
								| and 
								em NRAS.
								sup 1
							p.colorGrayDark ECOG PS = Eastern Cooperative Oncology Group Performance Status; mCRC = metastatic colorectal cancer; WT = wild type.
					section.py-12.fillGradientBlue
						.container
							.row
								.col-md-9
									p.colorBrandOrangeLight.textLg
										| In the PRIME study of Vectibix&reg; + FOLFOX vs FOLFOX alone
										sup 1 
									h2.fontDefault.h1
										| 27.8% improvement in median PFS with Vectibix
										sup &reg;
										| + FOLFOX
										sup 1
									hr.hr--fade
									p.textLg.mb-0 Significant increase in median PFS with Vectibix
										sup &reg;
										| + FOLFOX in patients with WT
										em.px-1 KRAS*
										| mCRC (n=325)
										sup 1
										| :
									ul.textLg.mb-7
										li PFS (prespecified major efficacy endpoint): 9.6 months vs 8.0 months with FOLFOX alone (n = 331) (HR = 0.80, 95% CI: 0.66–0.97; P = 0.02)
											sup 1

									h3.h2.mb-5
										|Retrospective exploratory analysis in the WT RAS
										sup &dagger;
										| subgroup in PRIME
										sup 1
							figure.mb-5
								img(src='img/content-images/pfs-table-sm.png').d-md-none
								img(src='img/content-images/pfs-table-lg.png').d-none.d-md-block
							ul.mb-5.textLg
								li There were no OS or PFS benefits in patients treated with Vectibix
									sup &reg;
									| with RAS-mutant mCRC
									sup 1
							p.textLg.pullFirstChar.mb-0 *Exon 2 in codons 12 or 13.
								sup 1
							p.textLg.pullFirstChar.mb-0 
								sup &dagger;
								| Defined as wild type in both 
								em KRAS 
								| and 
								em NRAS.
								sup 1
							p.textLg
								| CI = confidence interval; HR = hazard ratio; mCRC = metastatic colorectal cancer; PFS = progression-free survival; PRIME = Panitumumab Randomized Trial in Combination With Chemotherapy for Metastatic Colorectal Cancer to Determine Efficacy; WT = wild type.
					section.py-12
						.container
							.row
								.col-md-9
									p.colorBrandBlue.textLg
										| In the PRIME study of Vectibix
										sup &reg;
										| + FOLFOX vs FOLFOX alone
										sup 1 
									h2.colorBrandOrange.fontDefault.h1
										| Vectibix
										sup &reg; 
										| + FOLFOX improved ORR1*
									hr.hr--fade.colorBrandBlue
									p.textLg.mb-0 
										| In patients with WT 
										em KRAS
										sup.px-1 &dagger;
										|  mCRC, Vectibix
										sup &reg;
										|  + FOLFOX (n = 325) demonstrated
										sup 1
										| :
									ul.textLg.mb-7
										li
											| ORR: 54% (95% CI: 48%–59%) vs 47% (95% CI: 41%–52%) with FOLFOX alone (n = 331)
											sup 1

									h3.h2.mb-5.colorBrandBlue
										| ORR in patients with WT 
										em RAS
										sup.px-1 ‡
										|  mCRC in the PRIME study
										sup 1
							figure.mb-5
								img(src='img/content-images/first-line-chart-3-sm.svg').d-md-none
								img(src='img/content-images/first-line-chart-3-lg.svg').d-none.d-md-block
							p.pullFirstChar.mb-0 *Objective tumor response was evaluated by blinded central radiology review using modified RECIST criteria.
								sup 2
							p.pullFirstChar.mb-0 
								sup &dagger;
								| Exon 2 in codons 12 or 13.
								sup 1
							p.pullFirstChar.mb-0 
								sup &Dagger;
								| Defined as wild type in both KRAS and NRAS.
								sup 1
							p
								| CI = confidence interval; mCRC = metastatic colorectal cancer; ORR = objective response rate; PRIME = Panitumumab Randomized Trial in Combination With Chemotherapy for Metastatic Colorectal Cancer to Determine Efficacy; RECIST = Response Evaluation Criteria in Solid Tumors; WT = wild type.
					section.py-12.fillGradientBlue
						.container
							p.colorBrandOrangeLight.textLg
								| In a retrospective exploratory analysis of OS in the PRIME study of Vectibix
								sup &reg;
								| + FOLFOX vs FOLFOX alone
								sup 1 
							h2.fontDefault.h1
								| 27.8% improvement in median PFS with Vectibix
								sup &reg;
								| + FOLFOX
								sup 1
							hr.hr--fade
							p.textLg.mb-0 In patients with WT
								em KRAS
								sup.px-1 &dagger;
								| mCRC, Vectibix
								sup &reg;
								| + FOLFOX (n = 325) demonstrated
								sup 1
								| :
							ul.textLg.mb-7
								li OS (exploratory analysis): 23.8 months vs 19.4 months with FOLFOX alone (n = 331)  (HR = 0.83, 95% CI: 0.70–0.98)
									sup 1

							h3.h2.mb-5
								| 27.7% increase in median OS with Vectibix
								sup &reg;
								|  + FOLFOX vs FOLFOX alone in patients with WT 
								em RAS
								sup &dagger;
								|  mCRC (HR = 0.77, 95% CI: 0.64–0.94)
								sup 1
							figure.mb-5
								img(src='img/content-images/first-line-chart-4-sm.png').d-md-none
								img(src='img/content-images/first-line-chart-4-lg.png').d-none.d-md-block
							ul.mb-5.textLg
								li There were no OS or PFS benefits in patients treated with Vectibix
									sup &reg;
									| with RAS-mutant mCRC
									sup 1
							p.textLg.pullFirstChar.mb-0 *Exon 2 in codons 12 or 13.
								sup 1
							p.textLg.pullFirstChar.mb-0 
								sup &dagger;
								| Defined as wild type in both 
								em KRAS 
								| and 
								em NRAS.
								sup 1
							p.textLg
								| CI = confidence interval; HR = hazard ratio; mCRC = metastatic colorectal cancer; PFS = progression-free survival; PRIME = Panitumumab Randomized Trial in Combination With Chemotherapy for Metastatic Colorectal Cancer to Determine Efficacy; WT = wild type.




					section.py-5
						.container
							p.colorBrandBlue.textLg
								| In patients with WT 
								em RAS*
								| mCRC in the PRIME study
								sup 1 
							h2.colorBrandOrange.fontDefault.h1.mb-5
								| Similar safety profile to patients with WT 
								em KRAS 
								sup &dagger; 
								| mCRC
								sup 1,3,4
							.d-none.d-md-block
								ul.tabs
									li.tabs-item.is-active(data-tab='tab-1') Adverse reactions
									li.tabs-item(data-tab='tab-2') Chemotherapy-associated adverse reactions
								#tab-1.tabs-content.is-active
									figure.mb-5
										img(src='img/content-images/prime-safety-profile-table-lg.png')
								#tab-2.tabs-content
									figure.mb-5
										img(src='img/content-images/prime-safety-profile-table-2-lg.png')

							figure.mb-3.d-md-none
								img(src='img/content-images/prime-safety-profile-table-sm.png')
							ul.textLg.mb-7
								li
									| Safety results were summarized for patients who received at least 1 dose of study treatment
									sup 2
								li
									| Adverse reactions that did not meet the threshold criteria for inclusion in this table were flushing (3% vs < 1%), abdominal pain (28% vs 23%), localized infection (3.7% vs < 1%), cellulitis (2.5% vs 0%), hypocalcemia (5.6% vs 2.1%), and deep vein thrombosis (5.3% vs 3.1%)
									sup 1
								li
									| The safety profile of Vectibix
									sup &reg;
									|  in patients with WT RAS mCRC is similar to that seen in patients with WT 
									em KRAS
									|  mCRC
									sup 1
							p
								sup.pullSup *
								| Defined as wild type in both 
								em KRAS
								| KRAS and 
								em NRAS
								| .
								sup.pullSup 1
								br
								sup.pullSup &dagger;
								| Exon 2 in codons 12 or 13.
								sup.pullSup 1
								br
								sup.pullSup &Dagger;
								| Of the 656 patients in the PRIME patient population, 649 were evaluated for safety.
								su.pullSupp 1
								br
								| mCRC = metastatic colorectal cancer; PRIME = Panitumumab Randomized Trial in Combination With Chemotherapy for Metastatic Colorectal Cancer to Determine Efficacy; WT = wild type.



















					.container
						.inlined.colorGrayDark
							h2.h5 References:
							ol
								li
									|  Vectibix
									sup &reg;
									|  (panitumumab) prescribing information, Amgen. 
								li
									|  Douillard J-Y, Siena S, Cassidy J, et al. Randomized, phase III trial of panitumumab with infusional fluorouracil, leucovorin, and oxaliplatin (FOLFOX4) versus FOLFOX4 alone as first-line treatment in patients with previously untreated metastatic colorectal cancer: the PRIME study. J Clin Oncol. 2010;28(31):4697-4705. 
								li
									|  National Institutes of Health: National Cancer Institute. National Cancer Institute website. http://www.cancer.gov/about-cancer/treatment/side-effects. Accessed May 12, 2017.
								li
									|  Data on file, Amgen; 2013.
						include includes/_notifyTray.pug
				include includes/_footerMain.pug

