doctype html
html(lang="en")
	head
		include includes/_head.pug
		title [client name]

	body
		form
			.pageWrap
				include includes/_notifyMain.pug
				include includes/_headerMain.pug
				main
					.container
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here5
						h1 Structure/Content here4
						h1 Structure/Content here3
						h1 Structure/Content here2
						h1.testTrigger Structure/Content here1
						include includes/_notifyTray.pug
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
				include includes/_footerMain.pug

