doctype html
html(lang="en")
	head
		include includes/_head.pug
		title [client name]

	body
		form
			.pageWrap
				include includes/_notifyMain.pug
				include includes/_headerMain.pug
				main
					.container
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here5
						h1 Structure/Content here4
						h1 Structure/Content here3
						h1 Structure/Content here2
						h1.testTrigger Structure/Content here1
						include includes/_notifySticky.pug
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
				include includes/_footerMain.pug
		script.
			$(document).ready(function() {
			var placeholder = $('<div class="js-notifyStickyPLaceholder"></div>');
			var toggleText = $('.notifySticky-toggle').text();
			var headerUtilHeight = $('.headerMain-util').outerHeight(); 
			var headerMainHeight = $('.headerMain-main').outerHeight(); 
			var notifyHeight = $('.notifyMain').outerHeight();
			var mergedHeight = headerUtilHeight + headerMainHeight + notifyHeight;
				$('.notifySticky').before(placeholder);
				$('.notifySticky-toggle').click(function() {

					if($('.notifySticky').hasClass('full')) {
						$('body').removeClass('noScroll');
						$('.notifySticky').removeClass('full');
						$(this).text(toggleText)
						$('.notifySticky').css('height','');
					} else {
						$('body').addClass('noScroll');
						$('.notifySticky').addClass('full');
						$(this).text('Close');
						if($('.headerMain').hasClass('is-sticky')) {
							$('.notifySticky').css('height','calc(100vh - ' + headerMainHeight + 'px)');
						} else {
							$('.notifySticky').css('height','calc(100vh - ' + mergedHeight + 'px)');
						}
					}
				});
			$(window).scroll();
			});
		script.
			function isScrolledIntoView(elem)
			{
			    var docViewTop = $(window).scrollTop();
			    var docViewBottom = docViewTop + $(window).height();
			    var elemTop = $(elem).offset().top + 110;
			    //- var elemBottom = elemTop + $(elem).height();
			    //- return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom) && (elemBottom <= docViewBottom) && (elemTop >= docViewTop));
			    return ((elemTop <= docViewBottom));
			}

			$(window).scroll(function() { 
			    if(isScrolledIntoView($('.js-notifyStickyPLaceholder')))
			    {
			        $('.notifySticky').addClass('unstuck');
			        
			    } else {
			    	$('.notifySticky').removeClass('unstuck');
			    }   
			});
		script.
			$(function(){
			var $headerHeight = $('.headerMain').outerHeight(); 
			var $notifyHeight = $('.notifyMain').outerHeight();
			var $mergedHeight = $headerHeight + $notifyHeight;
			 var shrinkHeader = 300;
			  $(window).scroll(function() {
			    var scroll = getCurrentScroll();
			      if ( scroll >= shrinkHeader ) {
			           $('.headerMain').addClass('is-sticky');
			           $("main").css("padding-top", $mergedHeight);
			        }
			        else {
			            $('.headerMain').removeClass('is-sticky');
			            $("main").css("padding-top", '');
			        }
			  });
			function getCurrentScroll() {
			    return window.pageYOffset || document.documentElement.scrollTop;
			    }
			});