doctype html
html(lang="en")
	head
		include includes/_head.pug
		title [client name]

	body
		form
			.pageWrap
				include includes/_notifyMain.pug
				include includes/_headerMain.pug
				main
					.heroMain(data-lg='img/content-images/hero-main-lg.jpg', data-sm='img/content-images/hero-main-sm.jpg')
						.heroMain-inner
							.heroMain-copy
								span.heroMain-zone1 VECTIBIX
									sup &reg;
									| (panitumumab)
									span.heroMain-zone2 + FOLFOX
								span.heroMain-zone3 LEAPS AHEAD
								span.heroMain-zone4 in patients with WT
									em.px-1 RAS* 
									| mCRC
					section.sideBySide
						.sideBySide-inner
							.sideBySide-img
								img(src='img/content-images/first-line-circle.png')
							.sideBySide-copy
								h2.sideBySide-heading.colorBrandOrange 5.6-month increase in median OS 
								h2.sideBySide-subHeading.colorBrandBlue demonstrated with Vectibix® + FOLFOX vs FOLFOX alone in patients with WT RAS mCRC
									sup 1
							.sideBySide-cta
								a(href='').btn.btn-secondary Explore first-line data in WT RAS mCRC
					section.sideBySide.sideBySide--imgRight.sideBySide--fillGradiantBlue
						.sideBySide-inner
							.sideBySide-img
								img(src='img/content-images/spot-the-difference-circle.png')
							.sideBySide-copy
								h2.sideBySide-heading The power of biomarker identification: 
								h2.sideBySide-subHeading See how we identified patients with WT RAS mCRC and what it means
									sup 1
							.sideBySide-cta
								a(href='').btn.btn-primary Learn more about WT 
									em RAS
					section.sideBySide
						.sideBySide-inner
							.sideBySide-img
								img(src='img/content-images/know-your-patients-circle.png')
							.sideBySide-copy
								h2.sideBySide-heading.colorBrandOrange Know your patients:
								h2.sideBySide-subHeading.colorBrandBlue Identification of patients with WT RAS mCRC can help determine appropriate treatment options
									sup 1
							.sideBySide-cta
								a(href='').btn.btn-secondary Examine hypothetical patient profiles
					section.sideBySide.sideBySide--imgRight.sideBySide--fillGradiantBlue
						.sideBySide-inner
							.sideBySide-img
								img(src='img/content-images/third-line-circle.png')
							.sideBySide-copy
								h2.sideBySide-heading Proven in third line:  
								h2.sideBySide-subHeading Demonstrated efficacy in patients with chemorefractory WT RAS mCRC
									sup 1
							.sideBySide-cta
								a(href='').btn.btn-primary Review the results of Study 0007
					.container.pt-13
						p
							|*Defined as wild type in both KRAS and NRAS.1
							br
							| mCRC = metastatic colorectal cancer; OS = overall survival; WT = wild type.
						p
							strong Reference:
							| 1. Vectibix® (panitumumab) prescribing information, Amgen.
						include includes/_notifyTray.pug
				include includes/_footerMain.pug

