doctype html
html(lang="en")
	head
		include includes/_head.pug
		title [client name]

	body
		form
			.pageWrap
				include includes/_notifyMain.pug
				include includes/_headerMain.pug
				main
					.heroMain(style="background-image:url(img/content-images/Long_home_header.jpg);")
						.heroMain-inner
							.heroMain-copy
								span.heroMain-zone1 VECTIBIX
									sup &reg;
									span.heroMain-zone1Sm (panitumumab)
								span.heroMain-zone2 + FOLFOX
								span.heroMain-zone3 LEAPS AHEAD
								span.heroMain-zone4 in patients with WT RAS* mCRC
					section.sideBySide
						.sideBySide-inner
							.sideBySide-img
								img(src='img/content-images/first-line-circle.png')
							.sideBySide-copy
								h2.sideBySide-heading.colorBrandOrange 5.6-month increase in median OS 
								h2.sideBySide-subHeading.colorBrandBlue demonstrated with Vectibix® + FOLFOX vs FOLFOX alone in patients with WT RAS mCRC
									sup 1
					.container
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here5
						h1 Structure/Content here4
						h1 Structure/Content here3
						h1 Structure/Content here2
						h1.testTrigger Structure/Content here1
						include includes/_notifyTray.pug
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
						h1 Structure/Content here
				include includes/_footerMain.pug

