doctype html
html(lang="en")
	head
		include includes/_head.pug
		title RAS Story

	body
		form
			.pageWrap
				include includes/_notifyMain.pug
				include includes/_headerMain.pug
				main
					.heroMain(style="background-image:url(img/content-images/Long_home_header.jpg);")
						.heroMain-inner
							.heroMain-copy
								span.heroMain-zone1 VECTIBIX
									sup &reg;
									span.heroMain-zone1Sm (panitumumab)
								span.heroMain-zone2 + FOLFOX
								span.heroMain-zone3 LEAPS AHEAD
								span.heroMain-zone4 in patients with WT RAS* mCRC
					section.py-5
						.container
							h2.colorBrandBlue
								| KRAS and NRAS are part of the
								br
								| RAS family of oncogenes
								sup 1 
							.row
								.col-md-5
									p RAS status definitions
										sup 2
										|:
									ul
										li RAS mutation negative, or wild type (WT), means the RAS genes (KRAS and NRAS) do not have mutations
										li RAS mutation positive, or mutant type (MT), means that at least one of the RAS genes (KRAS or NRAS) contains a mutation that affects its function
								.col-md-7
									figure
										img(src='img/content-images/kras-exor-2-analysis-sm.svg').d-md-none
										img(src='img/content-images/kras-exor-2-analysis-lg.svg').d-none.d-md-block
							p mCRC = metastatic colorectal cancer; MT = mutant type; WT = wild type.
					section.py-5.fillGradientBlue
						.container
							p.colorBrandOrange
								|Don't let patients with WT RAS* mCRC miss a chance for personalized treatment
								sup 1 
							h2
								| The power of biomarker identification
							hr
							h3
								|Identification of patients with WT RAS mCRC can help determine appropriate treatment options
								sup 1
							figure
								img(src='img/content-images/kras-exor-2-analysis-sm.svg').d-md-none
								img(src='img/content-images/kras-exor-2-analysis-lg.svg').d-none.d-md-block

					section.sideBySide.sideBySide--imgRight.sideBySide--fillGradiantBlue
						.sideBySide-inner
							.sideBySide-img
								img(src='img/content-images/spot-the-difference-circle.png')
							.sideBySide-copy
								h2.sideBySide-heading The power of biomarker identification: 
								h2.sideBySide-subHeading See how we identified patients with WT RAS mCRC and what it means
									sup 1
							.sideBySide-cta
								a(href='').btn.btn-primary Learn more about WT 
									em RAS
					section.sideBySide
						.sideBySide-inner
							.sideBySide-img
								img(src='img/content-images/know-your-patients-circle.png')
							.sideBySide-copy
								h2.sideBySide-heading.colorBrandOrange Know your patients:
								h2.sideBySide-subHeading.colorBrandBlue Identification of patients with WT RAS mCRC can help determine appropriate treatment options
									sup 1
							.sideBySide-cta
								a(href='').btn.btn-secondary Examine hypothetical patient profiles
					section.sideBySide.sideBySide--imgRight.sideBySide--fillGradiantBlue
						.sideBySide-inner
							.sideBySide-img
								img(src='img/content-images/third-line-circle.png')
							.sideBySide-copy
								h2.sideBySide-heading Proven in third line:  
								h2.sideBySide-subHeading Demonstrated efficacy in patients with chemorefractory WT RAS mCRC
									sup 1
							.sideBySide-cta
								a(href='').btn.btn-primary Review the results of Study 0007
					.container.pt-5
						p
							|*Defined as wild type in both KRAS and NRAS.1
							br
							| mCRC = metastatic colorectal cancer; OS = overall survival; WT = wild type.
						p
							strong Reference:
							| 1. Vectibix® (panitumumab) prescribing information, Amgen.
						include includes/_notifyTray.pug
				include includes/_footerMain.pug

