doctype html
html(lang="en")
	head
		include includes/_head.pug
		title RAS Story

	body
		form
			.pageWrap
				include includes/_notifyMain.pug
				include includes/_headerMain.pug
				main
					.hero(style="background-image:url(img/content-images/hero.png)")
						.hero-inner
							.hero-copy
								span.hero-zone1 In the first-line treatment of mCRC
									sup 1 
								span.hero-zone2 Biomarker identification can provide critical information
									sup 2
					section.py-12
						.container
							h2.colorBrandBlue
								| KRAS and NRAS are part of the
								br
								| RAS family of oncogenes
								sup 1 
							.row
								.col-md-5.colorGrayDark.pt-md-10
									p.textLg RAS status definitions
										sup 2
										|:
									ul.textLg
										li RAS mutation negative, or wild type (WT), means the RAS genes (KRAS and NRAS) do not have mutations
										li RAS mutation positive, or mutant type (MT), means that at least one of the RAS genes (KRAS or NRAS) contains a mutation that affects its function
								.col-md-7
									figure
										img(src='img/content-images/kras-exor-2-analysis-sm.svg').d-md-none
										img(src='img/content-images/kras-exor-2-analysis-lg.svg').d-none.d-md-block
							p.colorGrayDark mCRC = metastatic colorectal cancer; MT = mutant type; WT = wild type.
					section.py-12.fillGradientBlue
						.container
							.row
								.col-md-9
									p.colorBrandOrangeLight.textLg
										| Don't let patients with WT RAS* mCRC miss a chance for personalized treatment
										sup 1 
									h2.fontDefault.h1
										| The power of biomarker identification
									hr.hr--fade
									h3.h2
										|Identification of patients with WT RAS mCRC can help determine appropriate treatment options
										sup 1
									figure.mb-5
										img(src='img/content-images/prime-population-sm.svg').shadow.d-md-none
										img(src='img/content-images/prime-population-lg.svg').shadow.d-none.d-md-block
							h3.h2.mb-5
								| Vectibix&reg; delivers efficacy for patients with WT
								em.px-1 RAS 
								| mCRC
								sup 1 
							ul.mb-5.pl-3
								li Patients with MT RAS tumors should not be treated with Vectibix
									sup &reg; 1
							blockquote.my-5
								| "All patients with metastatic colorectal cancer should have tumor tissue genotyped for RAS (KRAS and NRAS) mutations"
								cite NCCN Clinical Practice Guidelines in Oncology (NCCN Guidelines
									sup &reg;
									| ) for Colon Cancer
									sup 3
							p.pullFirstChar.mb-0 *Defined as wild type in both 
								em KRAS 
								| and 
								em NRAS.
								sup 1
							p.pullFirstChar
								| &dagger;Exon 2 in codons 12 or 13.
								sup 1
								br
								| mCRC = metastatic colorectal cancer; MT = mutant type; NCCN = National Comprehensive Cancer Network; PRIME = Panitumumab Randomized Trial in Combination With Chemotherapy for Metastatic Colorectal Cancer to Determine Efficacy; WT = wild type.
					.container
						.inlined.pt-16.colorGrayDark
							h2.h5 References:
							ol
								li
									|  Vectibix
									sup &reg;
									|  (panitumumab) prescribing information, Amgen. 
								li
									|  Douillard J-Y, Oliner KS, Siena S, et al. Panitumumab–FOLFOX4 treatment and 
									em RAS
									|  mutations in colorectal cancer. 
									em N Engl J Med.
									|  2013;369(11):1023-1034. 
								li
									|  Referenced with permission from the NCCN Clinical Practice Guidelines in Oncology (NCCN Guidelines
									sup &reg;
									| ) for Colon Cancer V2.2017. ©National Comprehensive Cancer Network, Inc 2017. All rights reserved. Accessed April 21, 2017. To view the most recent and complete version of the guideline, go online to NCCN.org. The National Comprehensive Cancer Network makes no warranties of any kind whatsoever regarding their content, use or application and disclaims any responsibility for their application or use in any way.
						include includes/_notifyTray.pug
				include includes/_footerMain.pug

